In [17]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-storm-4/Data-dictionary.xlsx
/kaggle/input/data-storm-4/DataStorm4.0_KaggleProblemStatement.pdf
/kaggle/input/data-storm-4/Store-info.csv
/kaggle/input/data-storm-4/Testing-data.csv
/kaggle/input/data-storm-4/Historical-transaction-data.csv

In [18]:
import pandas as pd

# Load dataset1 and dataset2 into dataframes
dataset1 = pd.read_csv("/kaggle/input/data-storm-4/Historical-transaction-data.csv")
dataset2 = pd.read_csv("/kaggle/input/data-storm-4/Store-info.csv")

# Join the two dataframes based on shop_id
df = pd.merge(dataset1, dataset2, on="shop_id")

In [19]:
df.sample(20)

,item_description,transaction_date,invoice_id,customer_id,shop_id,item_price,quantity_sold,shop_area_sq_ft,shop_profile
408632,ORANGE CRUSH 1.5L,2021-11-19T00:00:00.000Z,3726273.0,X380,SHOP077,220,1,852,High
372422,TWISTEE APPLE 1L,2021-10-22T00:00:00.000Z,3294266.0,6XE2,SHOP069,270,2,441,Low
25789,SODA 1L,2021-12-09T00:00:00.000Z,4016773.0,GABW,SHOP054,110,1,1021,High
159091,GINGER BEER 1L,2021-10-26T00:00:00.000Z,1226515.0,UWNC,SHOP076,150,2,676,NaN
398938,CREAM SODA 1.5L,2021-11-29T00:00:00.000Z,4381156.0,6319,SHOP039,220,1,640,Moderate
89487,SODA 500ML,2021-12-07T00:00:00.000Z,1305372.0,Z2M5,SHOP017,140,3,617,High
199177,NECTO 1.5L,2021-12-07T00:00:00.000Z,2264105.0,J9QX,SHOP063,220,1,676,High
293037,GINGER BEER 500ML,2021-11-27T00:00:00.000Z,351295.0,MDTQ,SHOP119,100,0,441,Moderate
382777,ORANGE CRUSH 1L,2021-11-23T00:00:00.000Z,549314.0,G33N,SHOP117,150,2,676,Low
30892,CREAM SODA APPLE POP 1L,2021-12-09T00:00:00.000Z,1051599.0,BUB8,SHOP040,450,4,541,Moderate
172398,NaN,2021-12-09T00:00:00.000Z,1215653.0,MV7T,SHOP043,70,2,676,High
300686,SODA 500ML,2021-10-24T00:00:00.000Z,1144219.0,30IO,SHOP120,70,2,517,Low
179698,FIT O ORANGE 1L,2021-11-09T00:00:00.000Z,2374122.0,1QJ6,SHOP089,290,2,676,Moderate
280719,GINGER BEER 1L,2021-10-26T00:00:00.000Z,336882.0,UR9O,SHOP014,150,2,617,Moderate
436513,SODA PET 1.5L,2021-11-02T00:00:00.000Z,2920344.0,O4F9,SHOP016,320,2,1077,High
119860,GINGER BEER 400ML,2021-12-05T00:00:00.000Z,2136678.0,HXGW,SHOP067,100,1,676,Low
251081,GINGER BEER 1L,2021-12-01T00:00:00.000Z,1319814.0,6.10E+03,SHOP085,150,2,617,Low
349976,CREAM SODA 500ML,2021-10-27T00:00:00.000Z,435393.0,JSSS,SHOP020,100,2,617,Moderate
350235,FIT O ORANGE 1L,2021-12-02T00:00:00.000Z,442670.0,4QP8,SHOP020,290,2,617,Moderate
266847,BOTTLED DRINKING WATER 500ML,2021-12-11T00:00:00.000Z,2370526.0,3.10E+01,SHOP059,70,2,617,High

# Perform initial data exploration and visualization to gain insights

In [20]:
def get_data_overview(data):
    # Get column info
    num_data = data.select_dtypes(include=['float64', 'int64'])
    cat_data = data.select_dtypes(include=['object'])
    
    num_info = pd.DataFrame(num_data.dtypes.astype(str), columns=["Data Type"])
    num_info.index.name = "Column Name"
    num_info["No of Unique Values"] = num_data.nunique()
    num_info["No of Missing Values"] = num_data.isnull().sum()
    num_info["% of Missing Values"] = round((num_info["No of Missing Values"] / len(num_data)) * 100, 2)
    num_info["No of Duplicates"] = num_data.duplicated().sum()
    
    cat_info = pd.DataFrame(cat_data.dtypes.astype(str), columns=["Data Type"])
    cat_info.index.name = "Column Name"
    cat_info["No of Unique Values"] = cat_data.nunique()
    cat_info["No of Missing Values"] = cat_data.isnull().sum()
    cat_info["% of Missing Values"] = round((cat_info["No of Missing Values"] / len(cat_data)) * 100, 2)
    cat_info["No of Duplicates"] = cat_data.duplicated().sum()

    # Print overview table
    print(f"{'-'*120}\n{'Numeric Columns':^120}\n{'-'*120}\n{num_info.index.name:20} {'Data Type':10} {'No of Unique Values':20} {'No of Missing Values':20} {'% of Missing Values':20} {'No of Duplicates':20}\n{'-'*120}")
    for i in range(len(num_info)):
        print(f"{num_info.index[i]:20} {str(num_info.iloc[i, 0]):>10} {num_info.iloc[i, 1]:>20} {num_info.iloc[i, 2]:>20} {num_info.iloc[i, 3]:>20} {num_info.iloc[i, 4]:>20}")
        
    print(f"{'-'*120}\n{'Categorical Columns':^120}\n{'-'*120}\n{cat_info.index.name:20} {'Data Type':10} {'No of Unique Values':20} {'No of Missing Values':20} {'% of Missing Values':20} {'No of Duplicates':20}\n{'-'*120}")
    for i in range(len(cat_info)):
        print(f"{cat_info.index[i]:20} {str(cat_info.iloc[i, 0]):>10} {cat_info.iloc[i, 1]:>20} {cat_info.iloc[i, 2]:>20} {cat_info.iloc[i, 3]:>20} {cat_info.iloc[i, 4]:>20}")

In [21]:
get_data_overview(df)

------------------------------------------------------------------------------------------------------------------------
                                                    Numeric Columns
------------------------------------------------------------------------------------------------------------------------
Column Name          Data Type  No of Unique Values  No of Missing Values % of Missing Values  No of Duplicates
------------------------------------------------------------------------------------------------------------------------
invoice_id              float64               343342                 6320                 1.33                44507
item_price                int64                  209                    0                  0.0                44507
quantity_sold             int64                   69                    0                  0.0                44507
shop_area_sq_ft           int64                   66                    0                  0.0                44507
------------------------------------------------------------------------------------------------------------------------
                                                  Categorical Columns
------------------------------------------------------------------------------------------------------------------------
Column Name          Data Type  No of Unique Values  No of Missing Values % of Missing Values  No of Duplicates
------------------------------------------------------------------------------------------------------------------------
item_description         object                   37                35928                 7.58                52550
transaction_date         object                   62                    0                  0.0                52550
customer_id              object               191636                    0                  0.0                52550
shop_id                  object                  124                    0                  0.0                52550
shop_profile             object                    3                86633                18.28                52550

In [22]:
import pandas as pd

def get_five_number_summary(data):
    num_data = data.select_dtypes(include=['float64', 'int64'])
    stats = num_data.describe().transpose()[['min', '25%', '50%', '75%', 'max']]
    stats['Range'] = stats['max'] - stats['min']
    stats.rename(columns={'50%': 'Median'}, inplace=True)

    # Print summary table
    print(f"{'-'*85}\n{'Column Name':20} {'Minimum':>10} {'1st Quartile':>15} {'Median':>15} {'3rd Quartile':>15} {'Maximum':>10} {'Range':>10}\n{'-'*85}")
    for i in range(len(stats)):
        print(f"{stats.index[i]:20} {stats.iloc[i, 0]:>10.2f} {stats.iloc[i, 1]:>15.2f} {stats.iloc[i, 2]:>15.2f} {stats.iloc[i, 3]:>15.2f} {stats.iloc[i, 4]:>10.2f} {stats.iloc[i, 5]:>10.2f}")

In [23]:
get_five_number_summary(df)

-------------------------------------------------------------------------------------
Column Name             Minimum    1st Quartile          Median    3rd Quartile    Maximum      Range
-------------------------------------------------------------------------------------
invoice_id                17.00      1032113.75      2032996.00      3032568.25 8331754.00 8331737.00
item_price                35.00          100.00          200.00          220.00   17400.00   17365.00
quantity_sold             -1.00            1.00            2.00            2.00     101.00     102.00
shop_area_sq_ft          298.00          576.00          617.00          676.00    1077.00     779.00

In [24]:
def clean_data(data):
    # Drop duplicates
    data.drop_duplicates(inplace=True)
    
    # Convert columns to numeric
    for col in data.columns:
        try:
            data[col] = pd.to_numeric(data[col])
        except:
            pass
    
    # Remove columns with > 60% missing values
    missing_values = data.isnull().mean()
    columns_to_drop = list(missing_values[missing_values > 0.6].index)
    data.drop(columns_to_drop, axis=1, inplace=True)
    
    
    # Remove outliers (assuming all numerical columns)
    num_data = data.select_dtypes(include=['float64', 'int64'])
    q1 = num_data.quantile(0.25)
    q3 = num_data.quantile(0.75)
    iqr = q3 - q1
    num_data = num_data[~((num_data < (q1 - 1.5 * iqr)) | (num_data > (q3 + 1.5 * iqr))).any(axis=1)]
    data = pd.concat([num_data, data.select_dtypes(include=['object'])], axis=1)
        
        
    return data

In [25]:
df = clean_data(df)
df.head()

,invoice_id,item_price,quantity_sold,shop_area_sq_ft,item_description,transaction_date,customer_id,shop_id,shop_profile
0,147.0,220.0,2.0,678.0,ORANGE BARLEY 1.5L,2021-12-11T00:00:00.000Z,BGXA,SHOP008,Moderate
1,484.0,160.0,2.0,678.0,TONIC PET 500ML,2021-12-13T00:00:00.000Z,VN7V,SHOP008,Moderate
2,484.0,150.0,2.0,678.0,CREAM SODA 1L,2021-12-13T00:00:00.000Z,VN7V,SHOP008,Moderate
3,1000053.0,220.0,1.0,678.0,GINGER BEER 1.5L,2021-12-10T00:00:00.000Z,VT9C,SHOP008,Moderate
4,NaN,NaN,NaN,NaN,GINGER BEER 1.5L,2021-12-10T00:00:00.000Z,8QLS,SHOP008,Moderate

In [26]:
def convert_to_categorical(data):
   
    # Get column info
    num_data = data.select_dtypes(include=['float64', 'int64'])
    info = pd.DataFrame(num_data.dtypes.astype(str), columns=["Data Type"])
    info.index.name = "Column Name"
    info["No of Unique Values"] = num_data.nunique()

    # Identify columns with less than 20 unique values or only one unique value
    categorical_cols = []
    for col in info.index:
        if info.loc[col, "No of Unique Values"] <= 1:
            data = data.drop(col, axis=1)
        elif info.loc[col, "No of Unique Values"] < 10:
            categorical_cols.append(col)

    # Convert identified columns to categorical variables
    for col in categorical_cols:
        data[col] = data[col].astype("category")

    return data

In [27]:
df = convert_to_categorical(df)

In [28]:
df['quantity_sold'] = df['quantity_sold'].astype("float")

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 442763 entries, 0 to 473973
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   invoice_id        336821 non-null  float64
 1   item_price        340742 non-null  float64
 2   quantity_sold     340742 non-null  float64
 3   shop_area_sq_ft   340742 non-null  float64
 4   item_description  407697 non-null  object
 5   transaction_date  442763 non-null  object
 6   customer_id       442763 non-null  object
 7   shop_id           442763 non-null  object
 8   shop_profile      361487 non-null  object
dtypes: float64(4), object(5)
memory usage: 33.8+ MB

In [30]:
import pandas as pd

def split_transaction_date(df):
    # Convert the "transaction_date" column to a pandas datetime object
    df['transaction_date'] = pd.to_datetime(df['transaction_date'])

    # Extract the year, month, and time components into separate columns
    df['year'] = df['transaction_date'].dt.year
    df['month'] = df['transaction_date'].dt.month
    df['time'] = df['transaction_date'].dt.time

    return df

split_transaction_date(df)

,invoice_id,item_price,quantity_sold,shop_area_sq_ft,item_description,transaction_date,customer_id,shop_id,shop_profile,year,month,time
0,147.0,220.0,2.0,678.0,ORANGE BARLEY 1.5L,2021-12-11 00:00:00+00:00,BGXA,SHOP008,Moderate,2021,12,00:00:00
1,484.0,160.0,2.0,678.0,TONIC PET 500ML,2021-12-13 00:00:00+00:00,VN7V,SHOP008,Moderate,2021,12,00:00:00
2,484.0,150.0,2.0,678.0,CREAM SODA 1L,2021-12-13 00:00:00+00:00,VN7V,SHOP008,Moderate,2021,12,00:00:00
3,1000053.0,220.0,1.0,678.0,GINGER BEER 1.5L,2021-12-10 00:00:00+00:00,VT9C,SHOP008,Moderate,2021,12,00:00:00
4,NaN,NaN,NaN,NaN,GINGER BEER 1.5L,2021-12-10 00:00:00+00:00,8QLS,SHOP008,Moderate,2021,12,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
473969,NaN,NaN,NaN,NaN,NaN,2021-12-09 00:00:00+00:00,QVA7,SHOP072,High,2021,12,00:00:00
473970,NaN,NaN,NaN,NaN,FIT O ORANGE 200ML,2021-12-11 00:00:00+00:00,HXMG,SHOP072,High,2021,12,00:00:00
473971,NaN,NaN,NaN,NaN,BOTTLED DRINKING WATER 500ML,2021-12-11 00:00:00+00:00,OUH2,SHOP072,High,2021,12,00:00:00
473972,NaN,220.0,1.0,617.0,GINGER BEER 1.5L,2021-10-21 00:00:00+00:00,5IJM,SHOP072,High,2021,10,00:00:00
473973,NaN,220.0,0.0,617.0,CREAM SODA 1.5L,2021-10-27 00:00:00+00:00,UARW,SHOP072,High,2021,10,00:00:00

In [31]:
def irrelevant (df):
    
    for col in df.columns:
        print(col)
    run = True
    while run:
        i = input("Enter the columns name to remove them it or # to skip the funtion: ")
        try:
            if i == '#':
                run = False
            else:
                df = df.drop([i], axis=1)
        except:
            print("Column not found, Please re-enter the column name carefully")
            
    return df

df = irrelevant(df)

invoice_id
item_price
quantity_sold
shop_area_sq_ft
item_description
transaction_date
customer_id
shop_id
shop_profile
year
month
time

Enter the columns name to remove them it or # to skip the funtion:  invoice_id
Enter the columns name to remove them it or # to skip the funtion:  transaction_date
Enter the columns name to remove them it or # to skip the funtion:  customer_id
Enter the columns name to remove them it or # to skip the funtion:  time
Enter the columns name to remove them it or # to skip the funtion:  #

In [32]:
import pandas as pd

def impute_categorical(df, col_name):
    """Impute null values in a categorical column using the mode value.

    Args:
        df (pandas.DataFrame): The DataFrame containing the column to impute.
        col_name (str): The name of the categorical column to impute.

    Returns:
        pandas.DataFrame: The DataFrame with null values imputed in the specified column.
    """
    mode_val = df[col_name].mode()[0]  # Get the mode value of the column
    df[col_name] = df[col_name].fillna(mode_val)  # Replace null values with the mode value
    return df

In [33]:
df = impute_categorical(df, 'shop_profile')

In [34]:
df.head()

,item_price,quantity_sold,shop_area_sq_ft,item_description,shop_id,shop_profile,year,month
0,220.0,2.0,678.0,ORANGE BARLEY 1.5L,SHOP008,Moderate,2021,12
1,160.0,2.0,678.0,TONIC PET 500ML,SHOP008,Moderate,2021,12
2,150.0,2.0,678.0,CREAM SODA 1L,SHOP008,Moderate,2021,12
3,220.0,1.0,678.0,GINGER BEER 1.5L,SHOP008,Moderate,2021,12
4,NaN,NaN,NaN,GINGER BEER 1.5L,SHOP008,Moderate,2021,12

In [35]:
df = df.dropna()

In [36]:
df['year'] = pd.Categorical(df['year'].astype(str))
df['month'] = pd.Categorical(df['month'].astype(str))
df['shop_profile'] = pd.Categorical(df['shop_profile'].astype(str))

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315011 entries, 0 to 473973
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   item_price        315011 non-null  float64
 1   quantity_sold     315011 non-null  float64
 2   shop_area_sq_ft   315011 non-null  float64
 3   item_description  315011 non-null  object
 4   shop_id           315011 non-null  object
 5   shop_profile      315011 non-null  category
 6   year              315011 non-null  category
 7   month             315011 non-null  category
dtypes: category(3), float64(3), object(2)
memory usage: 15.3+ MB

In [38]:
from sklearn.preprocessing import StandardScaler

def scale(df, target_col):
    # separate features and target
    X = df.drop(target_col, axis=1)
    y = df[target_col]
    
    # perform feature scaling
    scaler = StandardScaler()
    numeric_cols = X.select_dtypes(include=['float64', 'int64']).columns
    X[numeric_cols] = scaler.fit_transform(X[numeric_cols])
    
    return X , y

In [39]:
X , y = scale(df,'shop_profile')

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# print the shape of the training and testing sets
print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

X_train shape: (252008, 7)
X_test shape: (63003, 7)
y_train shape: (252008,)
y_test shape: (63003,)

In [41]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)
y_train = pd.get_dummies(y_train)
y_test = pd.get_dummies(y_test)

In [42]:
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, HistGradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

def run_classification_boosting_algorithms(X_train, X_test, y_train, y_test):

    # Initialize the classifiers
    ada = AdaBoostClassifier(random_state=42)
    grad = GradientBoostingClassifier(random_state=42)
    hist_grad = HistGradientBoostingClassifier(random_state=42)
    xgb = XGBClassifier(random_state=42)
    lgbm = LGBMClassifier(random_state=42)

    # Train each classifier on the training data
    ada.fit(X_train, y_train)
    grad.fit(X_train, y_train)
    hist_grad.fit(X_train, y_train)
    xgb.fit(X_train, y_train)
    lgbm.fit(X_train, y_train)

    # Make predictions on the testing data using each classifier
    ada_pred = ada.predict(X_test)
    grad_pred = grad.predict(X_test)
    hist_grad_pred = hist_grad.predict(X_test)
    xgb_pred = xgb.predict(X_test)
    lgbm_pred = lgbm.predict(X_test)

    # Calculate the accuracy of each classifier on the testing data
    ada_acc = accuracy_score(y_test, ada_pred)
    grad_acc = accuracy_score(y_test, grad_pred)
    hist_grad_acc = accuracy_score(y_test, hist_grad_pred)
    xgb_acc = accuracy_score(y_test, xgb_pred)
    lgbm_acc = accuracy_score(y_test, lgbm_pred)

    # Print the accuracy of each classifier
    print("Accuracy scores:")
    print("AdaBoost: {:.3f}".format(ada_acc))
    print("Gradient Boosting: {:.3f}".format(grad_acc))
    print("Histogram Gradient Boosting: {:.3f}".format(hist_grad_acc))
    print("XGBoost: {:.3f}".format(xgb_acc))
    print("LightGBM: {:.3f}".format(lgbm_acc))

In [43]:
#run_classification_boosting_algorithms(X_train, X_test, y_train, y_test)

In [44]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def build_classification_models(X_train, y_train, X_test, y_test):
    models = {}
    
    # Random Forest Classifier
    rf = RandomForestClassifier()
    rf.fit(X_train, y_train)
    models['Random Forest'] = rf
    
    dt = DecisionTreeClassifier()
    dt.fit(X_train, y_train)
    models['Decision Tree'] = dt
    
    # Evaluate models on testing data
    scores = {}
    for name, model in models.items():
        y_pred = model.predict(X_test)
        scores[name] = {
            'Accuracy': accuracy_score(y_test, y_pred),
            'Precision': precision_score(y_test, y_pred, average='weighted'),
            'Recall': recall_score(y_test, y_pred, average='weighted'),
            'F1': f1_score(y_test, y_pred, average='weighted')
        }
        
    # sort results by F1 score in ascending order
    sorted_scores = sorted(scores.items(), key=lambda x: x[1]['F1'])
    
    return sorted_scores, models

In [45]:
sorted_scores, models=  build_classification_models(X_train, y_train, X_test, y_test)

In [46]:
sorted_scores

[('Random Forest',
  {'Accuracy': 1.0, 'Precision': 1.0, 'Recall': 1.0, 'F1': 1.0}),
 ('Decision Tree',
  {'Accuracy': 1.0, 'Precision': 1.0, 'Recall': 1.0, 'F1': 1.0})]